<style>

body {
  font-family: Helvetica;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
}

h1 {
  font-family: Helvetica;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
}

</style>

<h1> Welcome to Rotten Mangoes! </h1> 

<%= link_to "Submit a movie!", new_movie_path %> 

<hr>

Search:
<%= form_tag(movies_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
<%= submit_tag "Search" %>
<% end %>

<hr>



<%= render 'movies' %>


<%= paginate @movies %>
<%= page_entries_info @movies %>

