<%= image_tag @movie.poster_image_url %>
<h2><%= @movie.title %> </h2> 
<h5><%= link_to "Edit", edit_movie_path(@movie) %> | <%= link_to "Delete", @movie, method: :delete, data: { confirm: "Are you 100% sure?" } %> </h5>
<h3><%= @movie.release_date %></h3>
<h4> Director: <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes </h4>
<h4> Rotten Mangoers Average Review: <%= @movie.review_average %>/10 </h4>
<p><%= @movie.description %></p>

<hr>

<h3>Reviews of <em><%= @movie.title %></em></h3>
<% if current_user %>
  <% @movie.reviews.each do |review| %>
    <p><%= review.text %></p>
    <p><%= review.rating_out_of_ten %>/10</p>
    <small>Review written by: <%= review.user.email %></small><br/>
  <% end %>
  <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
<% end %>

<%= link_to "Back to all movies", movies_path %>